/* FIX STICKY BANNERS ON LAYOUTS OVER 1200px */
#footer-banners .banner {
    margin-left: auto;
    margin-right: auto;
}

 .banner {
    z-index: 10;
    overflow-x: hidden;
    overflow-y: hidden;
    max-width: 100%;
}

.horseshoe .horseshoe-container .side-banner {
    width: 160px;
    position: absolute;
}

.horseshoe .top-banner
{
    /*width: 980px;*/
    text-align: center;
}

.horseshoe .top-banner .banner > div
{
    margin: 0 auto;
}

.banner img {
    max-width: 100%;
}

.horseshoe {
    margin-bottom: 0px;
    margin-top: 10px;
}

.horseshoe .horseshoe-container {
    max-width: 100%;
    overflow-x: visible !important;
    margin: 0 auto;
    position: relative;
}

.horseshoe .horseshoe-container .side-banner {
    width: 160px;
}

.gallery-horizontal .banner-min-height {
    min-height: 300px;
}

.horseshoe .horseshoe-container {
    /*overflow-x: hidden; */
    max-width: 100%;
    margin: 0 auto;
    width: 980px;
}

.horseshoe .horseshoe-container .side-banner {
    width: 160px;
    position: absolute;
    top: 0;
}

.horseshoe .horseshoe-container .static {
    margin-top: 1200px !important;
    top: 0px;
    position: absolute;
}

.horseshoe .horseshoe-container .fixed {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
}

.left,  .modal .close,  .horseshoe .horseshoe-container .side-banner.banner-left {
    left: 0;
}

.right,  .modal .close,  .horseshoe .horseshoe-container .side-banner.banner-right {
    right: 0;
}

.horseshoe .horseshoe-container .side-banner.banner-right {
    margin-right: -160px;
}

.horseshoe .horseshoe-container .side-banner.banner-left {
    margin-left: -160px;
}

.visible-xs, .visible-xs-sm, .visible-sm, .visible-xs-sm, .visible-md, .visible-md-lg, .visible-lg, .visible-md-lg
,.visible-xs, .visible-sm,.visible-md,.visible-lg{
    display: none !important
}

.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {
    display: none !important
}

@media (max-width: 767px) {
     .visible-xs, .visible-xs-sm,.visible-xs-sm {
        display: block !important
    }
}

@media (max-width: 767px) {
     .visible-xs-block {
        display: block !important
    }
}

@media (max-width: 767px) {
     .visible-xs-inline {
        display: inline !important
    }
}

@media (max-width: 767px) {
     .visible-xs-inline-block {
        display: inline-block !important
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
     .visible-sm, .visible-sm,.visible-xs-sm {
        display: block !important
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
     .visible-sm-block {
        display: block !important
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
     .visible-sm-inline {
        display: inline !important
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
     .visible-sm-inline-block {
        display: inline-block !important
    }
}

@media (min-width: 1025px) and (max-width: 1199px) {
     .visible-md, .visible-md-lg,.visible-md, .visible-md-lg {
        display: block !important
    }
}

@media (min-width: 1025px) and (max-width: 1199px) {
     .visible-md-block {
        display: block !important
    }
}

@media (min-width: 1025px) and (max-width: 1199px) {
     .visible-md-inline {
        display: inline !important
    }
}

@media (min-width: 1025px) and (max-width: 1199px) {
     .visible-md-inline-block {
        display: inline-block !important
    }
}

@media (min-width: 1200px) {
     .visible-lg, .visible-md-lg,.visible-lg, .visible-md-lg {
        display: block !important
    }
}

@media (min-width: 1200px) {
     .visible-lg-block {
        display: block !important
    }
}

@media (min-width: 1200px) {
     .visible-lg-inline {
        display: inline !important
    }
}

@media (min-width: 1200px) {
     .visible-lg-inline-block {
        display: inline-block !important
    }
}

/* Bonnier banner shortcode */
.bonnier-banner-container  {
    position: relative;
}
.bonnier-banner-container .banner.fixed {
    top: 0px;
    position: fixed;
}

.bonnier-banner-container .banner.max {
    position: absolute;
    bottom: 0;
}

.bonnier-banner-container.sticky
{
    width: 1300px;
    margin: 0 auto;
}

.bonnier-banner-container.sticky .left,
.bonnier-banner-container.sticky .right
{
    position: relative;
}

.bonnier-banner-container.sticky .banner
{
    position: absolute;
    top: 700px;
}

.bonnier-banner-container.sticky .banner.fixed
{
    position: fixed;
    top: 0;
}

.bonnier-banner-container.sticky .left
{
    float: left;
}

.hide, .bp-hide{
    display: none;
}

.bonnier-banner-container.sticky .right {
    float: right;
    margin-right: 160px;
}
@media only screen and (max-width: 799px) {
    div[data-listen="sticky-banner"]{
        display: none;
    }
}

/* Fixes for Headway Blogs*/

.entry-row .banner {
 float: left;
}

.block-content, .block-type-content, .loop, .entry-row .banner {
    overflow: visible;
}

@media(min-width: 768px){
    #footer-banners .col-sm-12 {
        padding: 0;
    }
}